body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}
h1, h2 {
    color: #111011;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}
body {
    background-color: #e9e1f2;
}
p {
    color: #0e0e0e;
}
.skip {
    background-color: #ffffff;
    padding: 5px;
    border: 1pxx solid #000000;
    text-decoration: none;
    position: absolute; /* positions an element relative to the top left of the viewport */
    top: 10px;
    left: -999px; /* -999 pushes pff the left side of the screen. */
}
.skip:focus {
    left: 10px; /* bring it back when it's been tabbed to */
}
nav {
    background-color: #e9e1f2;
}
nav a {
    color: #000000;
}
nav a:hover {
    background-color: #5f50eb;
}
nav {padding: 10px;
margin-bottom: 30px;
background-color: #ffffff;
}
@media only screen and (max-width: 900px) {
    nav a {display:block;}
    nav span {display: none;}
}
@media only screen and (min-width: 900px) {
    .s {display: none;}
}

body {font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1em;}
nav {color: #a7d2d0;
    }
nav a:hover {background-color: #a6f8fd;}
nav a {color: #778989;}
p {
color: #2c2b2e;}
h1 {color: #232525;
}
a {border-image-width: 40%;}