nav {
    background-color: #e9e1f2;
}
nav a {
    color: #000000;
}
body {background-color: #F1F1FB;}
nav a:hover {
    background-color: #cde6cb;
}
nav {padding: 10px;
margin-bottom: 30px;
background-color: #3498db;
}
@media only screen and (max-width: 900px) {
    nav a {display:block;}
    nav span {display: none;}
    .small {display:100%}
}
@media only screen and (min-width: 900px) {
    .s {display: none;}
}
.skip {
    background-color: #ffffff;
    padding: 5px;
    border: 1pxx solid #000000;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: -999px;
    }
.skip:focus {
    left: 10px;
    }
header {
        background-color: #3498db;
        color: #ffffff;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
footer {
        background-color: #3498db;
        color: #ffffff;
        padding: 50px;
        text-align: center;
    }
    body {
        color: #6e6969}
